* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    text-decoration: none;
    vertical-align: baseline; 
    box-sizing: border-box;
    }

*,html,body { 
    font-family: 'Gotham', sans-serif;
    margin: none;
    padding: none;
}
* button {
    cursor: pointer;
}
a {
    color: white;
    text-decoration: underline
    ;
}
#stickbar {
    height: min-content;
    width: 100%;
    background-image: radial-gradient(54.97% 272.54% at 27.36% -134.72%,rgba(108,148,255,.92) 0,rgba(0,0,0,.92) 100%);
    color: white;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center; 
}
#page1 {

    width: 100%; 
    padding: none;
    position: relative;
}
#page2 {
    height: 900px;
    width: 100%;
}
#background-vid {
   width: inherit;
min-height: fit-content;
}
#structure {
width: inherit;
}
#link2 {
    color:black;
    text-decoration: underline;
}
#cont1 {
    max-width: 600px;
    align-self: center;
    height: 150px;
    }
#p2textbox1 {
float: left;
width: 40%;
height:100%;
}
#p2textbox2 {
    float: right;
width: 40%;
height:100%;

}
#logo {
    height: 95px;
    margin-top: 0px;
    padding: 0px;
}
#navbar {
    z-index: 100;
    position: absolute;
    top: 0px;
    z-index: 100;
    display: flex;
    width: 100%;
}
#logodiv {
    width: 24%;
}
#pagesdiv {
    width: 50%;
    position: top 0px;
    margin-top: 20px;
    margin-left: 110px;
}
.navbutton {
    margin:15px 10px;
    color: white;
    background-color: transparent;
}
#iconsdiv {
    position: absolute;
    right: 80px;
    top: 30px; 
    z-index: 10;
}
.exp {
    font-size: large;
}
.backgroundpic img{
    width: 100%;
}
.backgroundpic {
    margin-top: 0px;
    position: relative;
}
.textbox {
    position: absolute;
    top: 55px;
    left: 18%;
    text-decoration: white;
    width:60%;
    text-align: center;
    color: white;
}
.textbox p{
    font-size: 180%;
    font-weight: 500;
}
.midsec {
    position: absolute;
    z-index: 1;
    top: 100px;
    left: 40%;
    text-align: center;
    color: white;
}
.botsec {
    position: absolute;
    z-index: 1;
    bottom:140px;
    left: 31%;
    display: flex;
    text-align: center;
    color: white;
    justify-content: space-between;
    height: 50px;
}
#toprow {
    font-size:150%;
    font-weight: 500;
}
#midrow {
    font-size:280%;
    font-weight: 500;
}
#botrow {
    font-size:110%;
    font-weight: 500;
}
#leftcol {
    margin-right: 30px;
}
#midcol {
    margin-right: 30px;
}
.botsec h3{
    font-size:180%;
    font-weight: 400;
}
.desc {
    font-size: 180%;
    font-weight: 400;
}
.botbuts {
    display: flex;
    position: absolute;
    bottom: 50px;
    z-index: 1;
    left:30%;
}
.botbuts button {
    width: 250px;
    height:40px;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 0.4s;
}
#leftbut {
    margin-right: 20px;
    background-color: white;
    color: black;
    font-weight: 405;
}
#rightbut {
    background-color: transparent;
    border: 4px solid white;
    color: white;
    font-weight: 405;
}
#leftbut:hover {
    background-color: lightgray;
}
#rightbut:hover {
    background-color: white;
    color: black;
}
.navbutton1 {
    z-index: 1;
    background-color: transparent;
    cursor: pointer;
}